extends layout

block content
  if (!user)
    .container
        h1 PaceMate
        .container
            a(href="/login").btn.btn-info Login
            br
            a(href="/register").btn.btn-info Sign Up Now!
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
